workflows:
  - name: "workflow2"
    enabled: false
    steps:
      - name: "step3"
        worker: "syslog"
        command: "echo 'Goodbye, world!'"
        target: "localhost:5514"
      - name: "step3"
        worker: "base64"
        command: "encode"
        target: "localhost:5514"
      - name: "step1"
        worker: "webhook"
        command: "echo 'Hello, world!'"
        target:
          url: "http://localhost:8080"
          key: "ENV_VAR"
  - name: "workflow2"
    enabled: true
    steps:
      - name: "step1"
        worker: "webhook"
        command: "echo 'Hello, world!'"
        target:
          url: "http://localhost:8080"
          key: "ENV_VAR"
      - name: "step2"
        worker: "json"
        command: "data.msg"
        target: "localhost:5514"
      - name: "step3"
        worker: "wx_robot"
        command: "echo 'Goodbye, world!'"
        target: "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxxxxx"